.mainCon {
  width: 80vw;
  height: 80vh;
  background: bisque;
  padding: 10vh 10vw;
  display: flex;
}

.generatorCon{
  width: 100%;
  height: 100%;
  background-color: red;
  flex: 2;
}

.styleCol {
  width: 100%;
  height: 100%;
  background-color: blue;
  flex: 1;
}

.comments {
  width: 100%;
  height: 100%;
  background-color: yellow;
  flex: 1;
}